importFrom("utils", "URLencode", "download.file")
importFrom("graphics", "plot", "axis", "legend",  "lines",  "title") 

S3method(merge, matrix)
S3method(print, retention)
S3method(plot, retention)

export(
plot.retention,
print.retention,
merge.matrix,
mixpanelCreateAccount,
mixpanelGetAddiction,
mixpanelGetData,
mixpanelGetEvents,
mixpanelGetEventsFromFiles,
mixpanelGetEventsForProfiles,
mixpanelGetProfiles,
mixpanelGetProfilesCount,
mixpanelGetRetention,
mixpanelGetFunnel,
mixpanelGetFunnelList,
mixpanelGetSegmentation,
mixpanelUpdateProfile,
mixpanelJQLQuery,
createDateSequence,
eventsJson2RMatrix,
profilesJson2RMatrix
)
