importFrom("utils", "URLencode", "download.file") 

S3method(merge, matrix)

export(
merge.matrix,mixpanelCreateAccount,mixpanelGetAddiction,
mixpanelGetData,mixpanelGetEvents,
mixpanelGetEventsFromFiles,mixpanelGetEventsForProfiles,mixpanelGetProfiles,
mixpanelGetProfilesCount,mixpanelGetRetention,mixpanelGetSegmentation,
createDateSequence)
